@model BookReadingApp.Core.Modals.Comment

@{
    ViewData["Title"] = "EditComment";
}

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventId" class="custom-control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="comment" class="custom-control-label"></label>
                <input asp-for="comment" class="form-control" />
                <span asp-validation-for="comment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TimeStamp" class="custom-control-label"></label>
                <input asp-for="TimeStamp" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>

    </div>

</div>