@model BookReadingApp.Core.Modals.Comment

@{
    ViewData["Title"] = "ViewComment";

}

<div>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>
</div>