@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> _signInManager


<ul class="navbar-nav">
    @if (_signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-link text-dark" asp-action="LogOut" asp-controller="Account">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="SignUp">Register</a>
        </li>
    }
</ul>

