@model BookReadingApp.Core.Modals.Login

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="font-weight-bold"></label>
                <input asp-for="userName" class="form-control input-group-sm" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="font-weight-bold"></label>
                <input asp-for="password" class="form-control input-group-sm" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success btn-block" />
            </div>
        </form>
        <div>
            <p class="font-weight-bold">Click <a asp-controller="Account" asp-action="SignUp">here</a> to Sign Up</p>
        </div>

    </div>

</div>